In [66]:
import numpy as np
import pandas as pd

In [67]:
data=pd.read_csv('data_tugas3.csv',sep=';')
data.tail()

         X1  X2     X3    X4  X5   Y1
144  140432   3   41.0   9.0   3   53
145   11040   6   76.0  14.0  10   96
146   44940   0  189.0  15.0   3  204
147    3960   0   80.0  14.0  10   94
148   20691   3  148.0  28.0   4  179

In [68]:
data.describe()

,X1,X2,X3,X4,X5,Y1
count,149.000000,149.000000,148.000000,146.000000,149.000000,149.00000
mean,22758.577181,5.751678,158.581081,23.541096,6.973154,186.33557
std,37164.705874,9.505266,226.355960,24.665801,3.674136,254.31704
min,1029.000000,0.000000,0.000000,0.000000,2.000000,0.00000
25%,4120.000000,0.000000,43.250000,9.000000,3.000000,54.00000
50%,7659.000000,3.000000,93.000000,16.500000,9.000000,114.00000
75%,24917.000000,7.000000,182.250000,28.000000,10.000000,220.00000
max,229733.000000,60.000000,1572.000000,147.000000,13.000000,1777.00000

In [69]:
np.sum(data.isnull())

X1    0
X2    0
X3    1
X4    3
X5    0
Y1    0
dtype: int64

In [71]:
data['X3']=data['X3'].fillna(158.581081)
data['X4']=data['X4'].fillna(23.541096)
np.sum(data.isnull())

X1    0
X2    0
X3    0
X4    0
X5    0
Y1    0
dtype: int64

In [73]:
data.to_csv('tugas3_1.csv')

In [74]:
data_new=data
data_new.head()
print(data_new.shape)

(149, 6)

In [75]:
#missing value outlier
from scipy.stats import stats
z = np.abs(stats.zscore(data._get_numeric_data()))
print(z)
data2 = data[(z<3).all(axis=1)]
print(data2.shape)

[[4.76989231e-01 1.84906527e-01 3.53958518e-01 2.68821761e-01
  1.08503189e+00 3.40625047e-01]
 [9.99351769e-02 7.93468620e-02 1.27122137e-01 2.24346538e-01
  8.26603684e-01 8.81219026e-02]
 [4.96373794e-01 6.07145185e-01 4.11779556e-01 3.92113836e-01
  1.08503189e+00 4.19532279e-01]
 [1.76114488e+00 5.51531536e+00 6.28656533e+00 5.07383482e+00
  8.26603684e-01 6.27574640e+00]
 [2.47425245e-01 1.39848844e+00 7.40193436e-01 1.04629370e+00
  1.08503189e+00 8.15365910e-01]
 [5.15547628e-02 5.01585521e-01 2.92711493e-02 3.88735971e-01
  5.53512888e-01 1.32394685e-03]
 [8.85420214e-02 2.90466191e-01 4.02162751e-01 1.42151821e-01
  1.08503189e+00 3.65594684e-01]
 [3.72146578e-02 6.07145185e-01 7.40193436e-01 3.92113836e-01
  5.53512888e-01 6.02316382e-01]
 [5.95514251e-03 6.07145185e-01 1.07588002e-02 3.06541255e-01
  1.08503189e+00 2.23482229e-02]
 [3.80417388e-01 2.90466191e-01 2.02734264e-01 1.01054463e-01
  8.26603684e-01 1.74919858e-01]
 [5.28497245e-01 6.07145185e-01 3.30998396e-01 1.86627045e-01
  8.26603684e-01 2.59069920e-01]
 [4.63517229e-01 6.07145185e-01 3.13928568e-01 2.27724403e-01
  8.26603684e-01 3.16952877e-01]
 [4.75855315e-01 6.07145185e-01 3.05033024e-01 3.92113836e-01
  8.26603684e-01 3.24843600e-01]
 [4.82253840e-01 7.93468620e-02 9.59877318e-02 5.56503270e-01
  1.08503189e+00 1.35466242e-01]
 [4.63891034e-01 3.96025856e-01 1.86103202e+00 1.45529687e-01
  5.38850295e-01 1.62811040e+00]
 [8.31154236e-02 1.84906527e-01 3.22824112e-01 2.27724403e-01
  8.26603684e-01 3.09062154e-01]
 [5.33955008e-01 3.96025856e-01 5.27421632e-01 4.74308553e-01
  1.08503189e+00 5.22111681e-01]
 [2.40353527e+00 9.76249785e-01 2.31025701e+00 1.45529687e-01
  1.37278528e+00 2.07788163e+00]
 [4.11708069e-01 1.84906527e-01 4.65152822e-01 2.68821761e-01
  1.08503189e+00 4.39259087e-01]
 [5.38166696e-01 6.07145185e-01 5.54108265e-01 6.38697986e-01
  1.09969448e+00 5.69456021e-01]
 [4.77664180e-01 2.90466191e-01 4.11779556e-01 4.74308553e-01
  1.08503189e+00 4.15586918e-01]
 [5.47831980e-01 6.07145185e-01 7.05332519e-01 9.67476852e-01
  8.26603684e-01 7.35161209e-01]
 [4.29418756e-01 6.07145185e-01 6.34168164e-01 8.85282136e-01
  8.26603684e-01 6.64144700e-01]
 [4.82469824e-01 6.07145185e-01 3.85092923e-01 1.88597465e-02
  1.08503189e+00 3.56406493e-01]
 [2.01528647e-01 2.90466191e-01 2.65003074e-01 1.86627045e-01
  8.26603684e-01 2.57772453e-01]
 [2.06658267e-01 6.07145185e-01 3.13928568e-01 2.27724403e-01
  1.08503189e+00 3.16952877e-01]
 [3.07356636e-01 4.48451461e-01 1.12714961e+00 1.99153294e+00
  1.09969448e+00 1.21384743e+00]
 [4.98182660e-01 6.07145185e-01 2.60555302e-01 2.68821761e-01
  1.08503189e+00 2.73553899e-01]
 [1.21344590e-01 3.19300274e+00 1.62085233e+00 1.62165672e+00
  1.08503189e+00 1.71885372e+00]
 [1.03951537e+00 1.29292878e+00 6.93010988e-02 4.33211195e-01
  1.09969448e+00 4.86682864e-02]
 [3.60924833e-01 2.87632375e+00 2.29420897e-01 6.33349701e-02
  1.35812268e+00 9.60126259e-02]
 [5.35358904e-01 5.01585521e-01 5.85242670e-01 5.15405911e-01
  8.26603684e-01 5.81292106e-01]
 [3.55849209e-01 3.96025856e-01 1.59278328e-02 9.64098987e-01
  1.08503189e+00 6.96925624e-02]
 [4.70860685e-01 1.84906527e-01 2.69450846e-01 2.22376118e-02
  5.53512888e-01 2.41991006e-01]
 [4.21427349e-01 3.96025856e-01 4.56257277e-01 2.68821761e-01
  1.08503189e+00 4.39259087e-01]
 [4.03635667e-01 2.62128026e-02 5.96842941e-02 1.04432328e-01
  1.09969448e+00 4.99657543e-02]
 [4.89489304e-01 6.07145185e-01 2.78346391e-01 2.68821761e-01
  1.08503189e+00 2.89335346e-01]
 [1.59407601e-01 1.08180945e+00 3.67301834e-01 6.38697986e-01
  8.26603684e-01 3.40625047e-01]
 [2.78063807e-01 5.54011126e-01 3.04311763e-01 3.06541255e-01
  5.53512888e-01 3.26141068e-01]
 [4.50153220e-01 5.01585521e-01 5.09630543e-01 3.92113836e-01
  1.08503189e+00 5.02384873e-01]
 [3.88615358e-02 1.31772467e-01 2.55386270e-01 6.35320121e-01
  1.09969448e+00 2.98523537e-01]
 [1.53333051e-01 2.62128026e-02 1.26400877e-01 2.27724403e-01
  1.08503189e+00 9.73100938e-02]
 [2.36761036e-01 1.31772467e-01 5.89690442e-01 8.44184778e-01
  8.26603684e-01 5.93128191e-01]
 [4.99154588e-01 1.31772467e-01 5.76347126e-01 5.56503270e-01
  1.08503189e+00 5.53674574e-01]
 [3.88003826e-01 6.07145185e-01 4.96287227e-01 5.15405911e-01
  1.09969448e+00 5.06330235e-01]
 [2.62841103e-01 1.84906527e-01 4.51809505e-01 5.56503270e-01
  1.08503189e+00 4.55040534e-01]
 [2.12026701e-01 1.84906527e-01 6.85798384e-02 5.12028046e-01
  1.09969448e+00 1.09146179e-01]
 [5.20456009e-01 2.62128026e-02 6.25272620e-01 6.38697986e-01
  1.35812268e+00 6.08909637e-01]
 [4.16567709e-01 6.07145185e-01 3.62854062e-01 3.51016478e-01
  1.09969448e+00 3.72187940e-01]
 [5.30904234e-01 5.01585521e-01 6.51959253e-01 9.26379494e-01
  1.35812268e+00 6.79926146e-01]
 [5.29257357e-01 5.01585521e-01 4.91839455e-01 5.97600628e-01
  5.53512888e-01 5.06330235e-01]
 [4.68858665e-01 1.92628677e+00 5.62282549e-01 1.83249180e-01
  1.08503189e+00 5.94425659e-01]
 [3.74180850e-01 3.42891797e-01 1.93117459e-01 3.06541255e-01
  5.53512888e-01 2.19616304e-01]
 [4.67593927e-01 1.84906527e-01 4.20675100e-01 1.86627045e-01
  1.08503189e+00 3.91914748e-01]
 [4.93970972e-01 1.84906527e-01 4.11779556e-01 4.33211195e-01
  8.26603684e-01 4.07696194e-01]
 [2.48150024e-01 3.96025856e-01 4.16227328e-01 3.92113836e-01
  1.35812268e+00 4.15586918e-01]
 [3.31901984e-01 3.96025856e-01 2.41021168e-02 1.25178050e+00
  1.09969448e+00 1.32818348e-01]
 [4.83603740e-01 6.07145185e-01 5.27421632e-01 4.33211195e-01
  1.08503189e+00 5.26057043e-01]
 [4.96400792e-01 2.90466191e-01 3.67301834e-01 5.15405911e-01
  8.26603684e-01 3.80078663e-01]
 [1.67728910e+00 1.84906527e-01 8.70921875e-02 2.68821761e-01
  1.08503189e+00 1.03903349e-01]
 [1.40185026e-01 2.37332132e-01 2.56107530e-01 3.92113836e-01
  1.09969448e+00 2.49881729e-01]
 [3.82749073e+00 2.37332132e-01 6.48533266e-02 5.56503270e-01
  1.35812268e+00 9.60126259e-02]
 [6.64135192e-01 4.48451461e-01 9.08186993e-02 4.33211195e-01
  8.26603684e-01 6.18018392e-02]
 [1.59691606e+00 1.84906527e-01 2.68729586e-01 6.33349701e-02
  1.08503189e+00 2.31452389e-01]
 [4.73128517e-01 3.96025856e-01 4.38466189e-01 6.79795344e-01
  8.26603684e-01 4.62931257e-01]
 [4.47939384e-01 1.39848844e+00 3.62854062e-01 2.22376118e-02
  1.08503189e+00 2.65663176e-01]
 [5.03204288e-01 6.07145185e-01 4.91839455e-01 6.79795344e-01
  1.09969448e+00 5.18166320e-01]
 [1.91770628e+00 1.50404811e+00 2.39476468e+00 1.90933823e+00
  1.08503189e+00 2.36983839e+00]
 [5.09386829e-01 6.07145185e-01 4.69600594e-01 2.68821761e-01
  1.09969448e+00 4.58985895e-01]
 [4.54094927e-01 1.31772467e-01 3.31719657e-01 1.83249180e-01
  1.08503189e+00 2.65663176e-01]
 [2.16770775e+00 1.31772467e-01 5.59577823e-02 5.97600628e-01
  8.26603684e-01 9.60126259e-02]
 [5.33719184e+00 1.18736911e+00 1.29171718e+00 2.48470124e+00
  1.08503189e+00 1.43478768e+00]
 [1.72694784e-01 2.90466191e-01 2.99863991e-01 8.40806912e-01
  1.09969448e+00 3.41922515e-01]
 [6.28929801e-01 8.70690120e-01 5.96842941e-02 9.64098987e-01
  1.35812268e+00 1.84108050e-01]
 [2.01848456e-01 3.96025856e-01 2.65003074e-01 4.33211195e-01
  1.09969448e+00 2.85389984e-01]
 [1.23789667e+00 1.50404811e+00 1.12270184e+00 2.07372766e+00
  1.35812268e+00 1.25724641e+00]
 [5.49856830e-01 6.07145185e-01 7.05332519e-01 9.67476852e-01
  1.35812268e+00 7.35161209e-01]
 [9.79525816e-01 1.84906527e-01 3.27271885e-01 6.38697986e-01
  8.26603684e-01 3.52461132e-01]
 [5.39543594e-01 6.07145185e-01 4.56257277e-01 6.38697986e-01
  1.08503189e+00 4.82658065e-01]
 [3.84062118e-01 3.96025856e-01 5.76347126e-01 6.79795344e-01
  1.37278528e+00 5.85237467e-01]
 [1.33142716e-01 3.96025856e-01 3.22824112e-01 4.33211195e-01
  1.08503189e+00 3.36679685e-01]
 [3.14137301e-01 1.29292878e+00 9.40343183e-01 1.21068314e+00
  8.26603684e-01 1.00474327e+00]
 [3.66243439e-01 7.93468620e-02 1.39744193e-01 1.37507257e+00
  1.08503189e+00 2.59069920e-01]
 [4.57874647e-01 3.96025856e-01 2.56107530e-01 1.86627045e-01
  8.26603684e-01 2.53827091e-01]
 [2.60978241e-01 3.96025856e-01 2.65003074e-01 3.09919120e-01
  1.35812268e+00 2.73553899e-01]
 [4.72858537e-01 4.48451461e-01 8.26444153e-02 6.38697986e-01
  5.53512888e-01 1.11794072e-01]
 [8.64487342e-01 3.96025856e-01 1.27122137e-01 3.06541255e-01
  1.08503189e+00 9.20672642e-02]
 [3.99666961e-01 2.90466191e-01 4.95565967e-01 5.94222763e-01
  8.26603684e-01 4.91846256e-01]
 [5.37815722e-01 2.90466191e-01 5.71899354e-01 7.20892703e-01
  1.08503189e+00 5.81292106e-01]
 [4.50936162e-01 3.96025856e-01 2.29420897e-01 2.68821761e-01
  1.09969448e+00 2.38045644e-01]
 [3.90969438e-01 7.65130455e-01 7.66880069e-01 2.19701974e+00
  1.08503189e+00 9.25836035e-01]
 [4.91730138e-01 6.07145185e-01 3.58406290e-01 4.33211195e-01
  5.53512888e-01 3.76133301e-01]
 [3.63273659e-01 3.42891797e-01 6.33446904e-01 3.47638613e-01
  1.08503189e+00 6.14152467e-01]
 [4.99991526e-01 3.96025856e-01 2.11629808e-01 3.09919120e-01
  5.53512888e-01 2.26209560e-01]
 [4.80984934e-01 3.96025856e-01 1.53808770e-01 6.33349701e-02
  8.11941091e-01 1.51247689e-01]
 [4.59359537e-01 7.93468620e-02 2.48233771e-02 1.42151821e-01
  8.26603684e-01 5.26930848e-03]
 [5.45645142e-01 2.90466191e-01 4.78496138e-01 5.15405911e-01
  1.08503189e+00 4.78712704e-01]
 [4.73236509e-01 5.01585521e-01 1.93838719e-01 1.01054463e-01
  1.09969448e+00 1.74919858e-01]
 [5.82730970e-02 1.31772467e-01 6.73476853e-01 1.53946200e+00
  1.08503189e+00 7.56185485e-01]
 [2.33688518e-02 6.59570791e-01 7.53536752e-01 2.73128539e+00
  8.26603684e-01 9.61344290e-01]
 [5.48209952e-01 6.07145185e-01 7.05332519e-01 9.67476852e-01
  5.53512888e-01 7.35161209e-01]
 [2.21905794e+00 2.13740610e+00 5.98856459e+00 2.93677218e+00
  1.08503189e+00 5.67999679e+00]
 [5.28744395e-01 3.96025856e-01 4.25122872e-01 3.92113836e-01
  8.26603684e-01 4.23477641e-01]
 [5.45753134e-01 6.07145185e-01 6.47511481e-01 8.03087419e-01
  8.11941091e-01 6.68090062e-01]
 [4.66702993e-01 1.84906527e-01 4.42913961e-01 5.97600628e-01
  1.09969448e+00 4.51095172e-01]
 [2.40245535e+00 3.82636073e+00 3.54228990e+00 4.74505595e+00
  8.11941091e-01 3.74676960e+00]
 [4.19483493e-01 3.42891797e-01 9.97142436e-02 3.47638613e-01
  1.09969448e+00 1.40709072e-01]
 [8.64631754e-02 1.18736911e+00 1.53087510e-01 1.83249180e-01
  8.11941091e-01 2.03834858e-01]
 [4.93781986e-01 1.31772467e-01 1.49360998e-01 3.09919120e-01
  5.53512888e-01 1.51247689e-01]
 [1.27144992e-01 1.84906527e-01 2.59834042e-01 1.08739106e+00
  1.08503189e+00 3.34031791e-01]
 [5.15758357e-01 3.96025856e-01 5.80794898e-01 8.03087419e-01
  8.26603684e-01 6.01018914e-01]
 [5.56174361e-01 6.07145185e-01 3.58209750e-10 4.41313917e-09
  2.80422092e-01 7.35161209e-01]
 [4.92675068e-01 1.84906527e-01 1.84943175e-01 2.27724403e-01
  8.11941091e-01 1.86755943e-01]
 [5.04554187e-01 3.96025856e-01 3.53958518e-01 3.09919120e-01
  1.08503189e+00 3.52461132e-01]
 [5.40218544e-01 6.07145185e-01 6.38615936e-01 8.85282136e-01
  1.64587607e+00 6.68090062e-01]
 [5.72103181e-01 6.07145185e-01 6.87541430e-01 8.85282136e-01
  1.37278528e+00 7.11489039e-01]
 [9.37192953e-01 5.01585521e-01 1.21165729e+00 1.01054463e-01
  1.37278528e+00 1.07181442e+00]
 [5.77340793e-01 6.07145185e-01 6.74198114e-01 9.67476852e-01
  1.09969448e+00 7.07543678e-01]
 [5.72049185e-01 6.07145185e-01 6.74198114e-01 8.85282136e-01
  8.26603684e-01 6.99652955e-01]
 [5.71968191e-01 6.07145185e-01 6.78645886e-01 8.85282136e-01
  8.26603684e-01 7.03598316e-01]
 [5.86655102e-01 6.07145185e-01 6.96436975e-01 4.41313917e-09
  5.53512888e-01 7.27270486e-01]
 [2.09380897e-01 2.62128026e-02 1.21953104e-01 6.76417479e-01
  5.53512888e-01 1.80162688e-01]
 [5.84846236e-01 5.01585521e-01 7.00884747e-01 8.85282136e-01
  2.80422092e-01 7.19379763e-01]
 [5.85521186e-01 5.01585521e-01 6.91989202e-01 8.85282136e-01
  7.33129653e-03 7.11489039e-01]
 [5.79743615e-01 6.07145185e-01 6.74198114e-01 4.41313917e-09
  2.65759499e-01 7.07543678e-01]
 [5.80958525e-01 6.07145185e-01 6.74198114e-01 8.85282136e-01
  5.38850295e-01 6.99652955e-01]
 [4.34980344e-01 2.90466191e-01 1.75326370e-01 7.17514837e-01
  1.08503189e+00 2.19616304e-01]
 [5.75477931e-01 6.07145185e-01 6.65302569e-01 9.26379494e-01
  1.64587607e+00 6.95707593e-01]
 [5.84279278e-01 6.07145185e-01 6.87541430e-01 9.26379494e-01
  1.64587607e+00 7.15434401e-01]
 [5.73669065e-01 6.07145185e-01 6.91989202e-01 9.67476852e-01
  1.37278528e+00 7.23325124e-01]
 [5.69268391e-01 6.07145185e-01 6.69750341e-01 8.85282136e-01
  1.09969448e+00 6.95707593e-01]
 [3.91999530e-01 6.07145185e-01 6.74198114e-01 8.44184778e-01
  5.53512888e-01 6.95707593e-01]
 [5.83172360e-01 5.01585521e-01 6.74198114e-01 8.85282136e-01
  5.53512888e-01 6.95707593e-01]
 [5.78501707e-01 6.07145185e-01 6.56407025e-01 9.26379494e-01
  2.80422092e-01 6.87816870e-01]
 [5.72184175e-01 3.96025856e-01 5.80794898e-01 8.03087419e-01
  2.65759499e-01 6.01018914e-01]
 [4.07658369e-01 6.07145185e-01 4.56257277e-01 4.74308553e-01
  1.35812268e+00 4.66876619e-01]
 [3.58953979e-01 6.07145185e-01 5.63003809e-01 3.09919120e-01
  8.26603684e-01 5.45783851e-01]
 [5.48911900e-01 1.84906527e-01 5.63003809e-01 8.44184778e-01
  2.80422092e-01 5.81292106e-01]
 [1.50016465e-01 6.07145185e-01 1.31569909e-01 5.99571048e-02
  1.08503189e+00 1.27575519e-01]
 [3.81794286e-01 1.84906527e-01 3.62854062e-01 1.86627045e-01
  8.26603684e-01 3.40625047e-01]
 [5.58789525e+00 9.76249785e-01 6.93010988e-02 8.40806912e-01
  1.08503189e+00 6.18018392e-02]
 [7.84945983e-02 3.96025856e-01 3.04311763e-01 5.12028046e-01
  8.26603684e-01 3.10359622e-01]
 [1.00447197e+00 5.72643469e+00 3.11530377e+00 2.73128539e+00
  1.35812268e+00 3.24570867e+00]
 [4.53307818e-01 4.48451461e-01 9.71477589e-01 1.49836464e+00
  8.26603684e-01 1.02841544e+00]
 [3.17694695e+00 2.90466191e-01 5.22973860e-01 5.97600628e-01
  1.08503189e+00 5.26057043e-01]
 [3.16378135e-01 2.62128026e-02 3.67301834e-01 3.92113836e-01
  8.26603684e-01 3.56406493e-01]
 [5.98854030e-01 6.07145185e-01 1.35296421e-01 3.51016478e-01
  1.08503189e+00 6.96925624e-02]
 [5.07523967e-01 6.07145185e-01 3.49510745e-01 3.92113836e-01
  8.26603684e-01 3.64297216e-01]
 [5.58204466e-02 2.90466191e-01 4.70622379e-02 1.83249180e-01
  8.11941091e-01 2.89414782e-02]]
(140, 6)

In [89]:
data2.to_csv('tugas3_2.csv')

In [90]:
#missing value dan transformasi
x = data.iloc[0:150,0:6] 
x.tail()

         X1  X2     X3    X4  X5   Y1
144  140432   3   41.0   9.0   3   53
145   11040   6   76.0  14.0  10   96
146   44940   0  189.0  15.0   3  204
147    3960   0   80.0  14.0  10   94
148   20691   3  148.0  28.0   4  179

In [91]:
from sklearn.preprocessing import normalize
xnorm=normalize(x,norm='l2') 
xnorm=pd.DataFrame(xnorm) 
xnorm.tail()

            0         1         2         3         4         5
144  1.000000  0.000021  0.000292  0.000064  0.000021  0.000377
145  0.999937  0.000543  0.006884  0.001268  0.000906  0.008695
146  0.999981  0.000000  0.004206  0.000334  0.000067  0.004539
147  0.999505  0.000000  0.020192  0.003534  0.002524  0.023726
148  0.999936  0.000145  0.007152  0.001353  0.000193  0.008651

In [92]:
xnorm.to_csv('tugas3_3.csv')

In [93]:
print(xnorm.shape)

(149, 6)

In [95]:
#missing value outlier transformasi
print(data2.shape)

(140, 6)

In [96]:
y=data2.iloc[0:150,0:6]
y.tail()

        X1  X2     X3    X4  X5   Y1
143  39549  10  377.0  60.0  10  447
145  11040   6   76.0  14.0  10   96
146  44940   0  189.0  15.0   3  204
147   3960   0   80.0  14.0  10   94
148  20691   3  148.0  28.0   4  179

In [97]:
from sklearn.preprocessing import normalize
ynorm=normalize(y,norm='l2') 
ynorm=pd.DataFrame(ynorm) 
ynorm.tail()

            0         1         2         3         4         5
135  0.999889  0.000253  0.009531  0.001517  0.000253  0.011301
136  0.999937  0.000543  0.006884  0.001268  0.000906  0.008695
137  0.999981  0.000000  0.004206  0.000334  0.000067  0.004539
138  0.999505  0.000000  0.020192  0.003534  0.002524  0.023726
139  0.999936  0.000145  0.007152  0.001353  0.000193  0.008651

In [98]:
ynorm.to_csv('tugas3_4.csv')

In [99]:
print(ynorm.shape)

(140, 6)

In [100]:
print(ynorm)

            0         1         2         3         4         5
0    0.999681  0.000785  0.015513  0.003338  0.000589  0.019636
1    0.999938  0.000262  0.006821  0.001522  0.000525  0.008605
2    0.999714  0.000000  0.015088  0.003201  0.000686  0.018289
3    0.999290  0.001397  0.023891  0.003602  0.000221  0.028889
4    0.999932  0.000048  0.007290  0.001583  0.000432  0.008921
5    0.999815  0.000154  0.012781  0.001386  0.000154  0.014320
6    0.999811  0.000000  0.013462  0.000580  0.000373  0.014042
7    0.999937  0.000000  0.007143  0.001375  0.000133  0.008518
8    0.999776  0.000346  0.013034  0.002999  0.001153  0.016378
9    0.999967  0.000000  0.005504  0.000449  0.000236  0.005952
10   0.999690  0.000000  0.015738  0.003219  0.001788  0.018957
11   0.999636  0.000000  0.017527  0.002726  0.001947  0.020254
12   0.999125  0.001020  0.027958  0.002041  0.000612  0.031019
13   0.999783  0.000050  0.014443  0.000501  0.000125  0.014994
14   0.999975  0.000203  0.004370  0.000915  0.000508  0.005488
15   0.999737  0.000671  0.013415  0.004024  0.001006  0.018110
16   0.999961  0.000134  0.006065  0.000179  0.000107  0.006378
17   0.999921  0.000533  0.007191  0.002264  0.000399  0.009987
18   0.999806  0.000000  0.012033  0.002831  0.003893  0.014864
19   0.999784  0.000592  0.013025  0.002368  0.000592  0.015985
20   0.999992  0.000000  0.000000  0.000000  0.004053  0.000000
21   0.999993  0.000000  0.002335  0.000292  0.001459  0.002627
22   0.999687  0.000000  0.014725  0.004908  0.000614  0.019634
23   0.999947  0.000196  0.006473  0.001242  0.000654  0.007911
24   0.999958  0.000000  0.005826  0.001192  0.000199  0.007018
25   0.999820  0.000293  0.012065  0.002108  0.000322  0.014466
26   0.999354  0.000000  0.023208  0.003945  0.000696  0.027154
27   0.999993  0.000294  0.002334  0.000212  0.000180  0.002840
28   0.999777  0.003514  0.011393  0.002342  0.000213  0.017249
29   0.999856  0.000341  0.009217  0.003755  0.003414  0.013313
..        ...       ...       ...       ...       ...       ...
110  0.999940  0.000017  0.007499  0.000452  0.000209  0.007969
111  0.999942  0.000000  0.005094  0.000000  0.008005  0.005094
112  0.999953  0.000000  0.004458  0.001274  0.006369  0.005732
113  0.999959  0.000000  0.003814  0.001271  0.006357  0.005086
114  0.999696  0.000000  0.001943  0.022871  0.008744  0.001943
115  0.999952  0.000197  0.006095  0.001311  0.000295  0.007603
116  0.999964  0.000912  0.000912  0.001825  0.007299  0.003650
117  0.999957  0.000934  0.002801  0.001867  0.006536  0.005602
118  0.999792  0.000000  0.005446  0.018316  0.004668  0.005446
119  0.999948  0.000000  0.005645  0.001613  0.004032  0.007258
120  0.998876  0.000451  0.029754  0.006161  0.000451  0.036366
121  0.999916  0.000000  0.006236  0.000693  0.009008  0.006929
122  0.999915  0.000000  0.003581  0.000895  0.011637  0.004476
123  0.999964  0.000000  0.001987  0.000000  0.007947  0.001987
124  0.999948  0.000000  0.004782  0.001195  0.006575  0.005977
125  0.999998  0.000000  0.000850  0.000364  0.001092  0.001214
126  0.999912  0.000863  0.006044  0.001727  0.007771  0.008635
127  0.999907  0.000000  0.008264  0.000751  0.006010  0.009015
128  0.999593  0.001277  0.017884  0.002555  0.003832  0.021716
129  0.999933  0.000000  0.007311  0.001567  0.000261  0.008878
130  0.999979  0.000000  0.003382  0.001691  0.001057  0.005072
131  0.999776  0.001648  0.013182  0.001236  0.003296  0.016066
132  0.999931  0.000000  0.007499  0.001453  0.000174  0.008952
133  0.999890  0.000464  0.008935  0.002205  0.001160  0.011604
134  0.999907  0.000078  0.008844  0.001403  0.000390  0.010324
135  0.999889  0.000253  0.009531  0.001517  0.000253  0.011301
136  0.999937  0.000543  0.006884  0.001268  0.000906  0.008695
137  0.999981  0.000000  0.004206  0.000334  0.000067  0.004539
138  0.999505  0.000000  0.020192  0.003534  0.002524  0.023726
139  0.999936  0.000145  0.007152  0.001353  0.000193  0.008651

[140 rows x 6 columns]